@model IEnumerable<RentCycleWebApp.Models.DeviceShadow>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p style="width:160px">
    <a asp-action="Create" class="w-100 btn btn-lg gradient-custom-2" style="width:160px;font-size:16px;font-weight:bold">Create New</a>
</p>
<table class="customers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.InOperationFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastServicingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.InOperationFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastServicingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceModel.DeviceModel1)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DeviceId" class="btn btn-success btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.DeviceId" class="btn btn-primary btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.DeviceId" class="btn btn-danger btn-sm">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
