@model IEnumerable<RentCycleWebApp.Models.DeviceRate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p style="width:160px">
    <a asp-action="Create" class="w-100 btn btn-lg gradient-custom-2" style="width:160px;font-size:16px;font-weight:bold">Create New</a>
</p>
<table class="customers">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceModel.DeviceModel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCategory.UserCategory1)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
