@model RentCycleWebApp.Models.UserRideInfo

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserRideInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScanEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScanEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnlockTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnlockTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LockTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAccount.MobileNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
